In [375]:
import pandas

In [376]:
import pandas as pd

In [377]:
data = pd.read_csv("tips.csv")

In [378]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         238 non-null    object
 2   sex         242 non-null    object
 3   smoker      243 non-null    object
 4   day         241 non-null    object
 5   time        243 non-null    object
 6   size        241 non-null    float64
dtypes: float64(2), object(5)
memory usage: 13.5+ KB

In [379]:
data.head()

   total_bill     tip     sex smoker     day    time  size
0       16.99  Female      No    Sun  Dinner     NaN   NaN
1       10.34    1.66    Male     No     NaN  Dinner   3.0
2       21.01     3.5    Male     No     Sun  Dinner   3.0
3       23.68    Male      No    Sun  Dinner       2   NaN
4       24.59    3.61  Female     No     Sun  Dinner   4.0

In [380]:
data.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner   3.0
240       27.18     2  Female    Yes   Sat  Dinner   2.0
241       22.67     2    Male    Yes   Sat  Dinner   2.0
242       17.82  1.75    Male     No   Sat  Dinner   2.0
243       18.78     3  Female     No  Thur  Dinner   2.0

In [382]:
data.describe()

       total_bill        size
count  244.000000  241.000000
mean    19.732336    2.576763
std      8.970230    0.954878
min      1.960000    1.000000
25%     13.277500    2.000000
50%     17.795000    2.000000
75%     24.127500    3.000000
max     50.810000    6.000000

In [383]:
type(data)

pandas.core.frame.DataFrame

In [384]:
data['smoker']

0      Sun
1       No
2       No
3      Sun
4       No
      ...
239     No
240    Yes
241    Yes
242     No
243     No
Name: smoker, Length: 244, dtype: object

In [385]:
data.isnull().sum()

total_bill    0
tip           6
sex           2
smoker        1
day           3
time          1
size          3
dtype: int64

In [386]:
data.head(20)

    total_bill     tip     sex smoker     day    time  size
0        16.99  Female      No    Sun  Dinner     NaN   NaN
1        10.34    1.66    Male     No     NaN  Dinner   3.0
2        21.01     3.5    Male     No     Sun  Dinner   3.0
3        23.68    Male      No    Sun  Dinner       2   NaN
4        24.59    3.61  Female     No     Sun  Dinner   4.0
5        25.29    4.71    Male     No     NaN  Dinner   4.0
6         8.77       2    Male     No     Sun  Dinner   2.0
7        26.88    3.12    Male     No     Sun  Dinner   4.0
8         1.96    Male      No    Sun  Dinner       2   NaN
9        14.78    3.23    Male     No     NaN  Dinner   2.0
10       10.27     NaN    Male     No     Sun  Dinner   2.0
11       35.26       5  Female     No     Sun  Dinner   4.0
12       15.42    1.57    Male     No     Sun  Dinner   2.0
13       18.43       3    Male     No     Sun  Dinner   4.0
14       14.83    3.02  Female     No     Sun  Dinner   2.0
15       21.58    3.92    Male     No     Sun  Dinner   2.0
16       10.33     NaN  Female     No     Sun  Dinner   3.0
17       16.29    3.71    Male     No     Sun  Dinner   3.0
18       16.97     3.5  Female     No     Sun  Dinner   3.0
19       20.65    3.35    Male     No     Sat  Dinner   3.0

In [387]:
data.shape

(244, 7)

In [388]:
data

     total_bill     tip     sex smoker     day    time  size
0         16.99  Female      No    Sun  Dinner     NaN   NaN
1         10.34    1.66    Male     No     NaN  Dinner   3.0
2         21.01     3.5    Male     No     Sun  Dinner   3.0
3         23.68    Male      No    Sun  Dinner       2   NaN
4         24.59    3.61  Female     No     Sun  Dinner   4.0
..          ...     ...     ...    ...     ...     ...   ...
239       29.03    5.92    Male     No     Sat  Dinner   3.0
240       27.18       2  Female    Yes     Sat  Dinner   2.0
241       22.67       2    Male    Yes     Sat  Dinner   2.0
242       17.82    1.75    Male     No     Sat  Dinner   2.0
243       18.78       3  Female     No    Thur  Dinner   2.0

[244 rows x 7 columns]

In [389]:
# b1=data.dropna()
# print(b1.shape)
# print(data.shape)

In [390]:
#data.dropna(inplace =True)
data. fillna(0,inplace=True)

In [391]:
data

     total_bill     tip     sex smoker     day    time  size
0         16.99  Female      No    Sun  Dinner       0   0.0
1         10.34    1.66    Male     No       0  Dinner   3.0
2         21.01     3.5    Male     No     Sun  Dinner   3.0
3         23.68    Male      No    Sun  Dinner       2   0.0
4         24.59    3.61  Female     No     Sun  Dinner   4.0
..          ...     ...     ...    ...     ...     ...   ...
239       29.03    5.92    Male     No     Sat  Dinner   3.0
240       27.18       2  Female    Yes     Sat  Dinner   2.0
241       22.67       2    Male    Yes     Sat  Dinner   2.0
242       17.82    1.75    Male     No     Sat  Dinner   2.0
243       18.78       3  Female     No    Thur  Dinner   2.0

[244 rows x 7 columns]

In [392]:
data.loc[4,'day']

data.iloc[7,3]

'No'

In [393]:
data[data['size'] > 3]

     total_bill   tip     sex smoker   day    time  size
4         24.59  3.61  Female     No   Sun  Dinner   4.0
5         25.29  4.71    Male     No     0  Dinner   4.0
7         26.88  3.12    Male     No   Sun  Dinner   4.0
11        35.26     5  Female     No   Sun  Dinner   4.0
13        18.43     3    Male     No   Sun  Dinner   4.0
23        39.42     0    Male     No   Sat  Dinner   4.0
25        17.81  2.34    Male      0   Sat  Dinner   4.0
31        18.35   2.5    Male     No   Sat  Dinner   4.0
33        20.69  2.45  Female     No   Sat  Dinner   4.0
44        30.40   5.6    Male     No   Sun  Dinner   4.0
47        32.40     6    Male     No   Sun  Dinner   4.0
52        34.81   5.2  Female     No   Sun  Dinner   4.0
54        25.56  4.34    Male     No   Sun  Dinner   4.0
56        38.01     3    Male    Yes   Sat  Dinner   4.0
59        48.27  6.73    Male     No   Sat  Dinner   4.0
63        18.29  3.76    Male    Yes   Sat  Dinner   4.0
77        27.20     4    Male     No  Thur   Lunch   4.0
85        34.83  5.17  Female     No  Thur   Lunch   4.0
95        40.17  4.73    Male    Yes   Fri  Dinner   4.0
116       29.93  5.07    Male     No   Sun  Dinner   4.0
119       24.08  2.92  Female     No  Thur   Lunch   4.0
125       29.80   4.2  Female     No  Thur   Lunch   6.0
141       34.30   6.7    Male     No  Thur   Lunch   6.0
142       41.19     5    Male     No  Thur   Lunch   5.0
143       27.05     5  Female     No  Thur   Lunch   6.0
153       24.55     2    Male     No   Sun  Dinner   4.0
154       19.77     2    Male     No   Sun  Dinner   4.0
155       29.85  5.14  Female     No   Sun  Dinner   5.0
156       48.17     5    Male     No   Sun  Dinner   6.0
157       25.00  3.75  Female     No   Sun  Dinner   4.0
159       16.49     2    Male     No   Sun  Dinner   4.0
160       21.50   3.5    Male     No   Sun  Dinner   4.0
167       31.71   4.5    Male     No   Sun  Dinner   4.0
180       34.65  3.68    Male    Yes   Sun  Dinner   4.0
183       23.17   6.5    Male    Yes   Sun  Dinner   4.0
185       20.69     5    Male     No   Sun  Dinner   5.0
187       30.46     2    Male    Yes   Sun  Dinner   5.0
197       43.11     5  Female    Yes  Thur   Lunch   4.0
204       20.53     4    Male    Yes  Thur   Lunch   4.0
207       38.73     3    Male    Yes   Sat  Dinner   4.0
211       25.89  5.16    Male    Yes   Sat  Dinner   4.0
212       48.33     9    Male     No   Sat  Dinner   4.0
216       28.15     3    Male    Yes   Sat  Dinner   5.0
219       30.14  3.09  Female    Yes   Sat  Dinner   4.0
227       20.45     3    Male     No   Sat  Dinner   4.0
230       24.01     2    Male    Yes   Sat  Dinner   4.0

In [394]:
data[['tip','sex']][data['size']<4]

        tip     sex
0    Female      No
1      1.66    Male
2       3.5    Male
3      Male      No
6         2    Male
..      ...     ...
239    5.92    Male
240       2  Female
241       2    Male
242    1.75    Male
243       3  Female

[198 rows x 2 columns]

In [395]:
data.groupby('sex').count()

        total_bill  tip  smoker  day  time  size
sex
0                2    2       2    2     2     2
Female          85   85      85   85    85    85
Male           154  154     154  154   154   154
No               3    3       3    3     3     3

In [396]:
data['size'].max()

np.float64(6.0)

In [397]:
data['size'].min()

np.float64(0.0)

In [398]:

data['size'].mean()

np.float64(2.5450819672131146)

In [399]:

data['size'].sum()

np.float64(621.0)