In [68]:
import pandas as hd

In [69]:
hm = hd.read_csv(".venv/include/tips (2).csv")

In [70]:
print(hm.head())
print(hm.tail())
print(hm.info())
print(hm.describe())

   total_bill   tip     sex smoker  day    time  size
0       16.99   NaN  Female     No  Sun  Dinner   2.0
1         NaN  1.66    Male     No  Sun  Dinner   3.0
2       21.01   NaN    Male     No  Sun  Dinner   3.0
3       23.68  3.31    Male     No  Sun  Dinner   2.0
4       24.59   NaN  Female     No  Sun  Dinner   4.0
     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner   3.0
240       27.18  2.00  Female    Yes   Sat  Dinner   2.0
241       22.67  2.00    Male    Yes   Sat  Dinner   2.0
242       17.82  1.75    Male     No   Sat  Dinner   2.0
243       18.78  3.00  Female     No  Thur  Dinner   2.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  243 non-null    float64
 1   tip         240 non-null    float64
 2   sex         242 non-null    object
 3   smoker      244 non-null    object
 4   day         243 non-null    object
 5   time        243 non-null    object
 6   size        242 non-null    float64
dtypes: float64(3), object(4)
memory usage: 13.5+ KB
None
       total_bill         tip        size
count  243.000000  240.000000  242.000000
mean    19.823909    3.007875    2.574380
std      8.900473    1.385174    0.953615
min      3.070000    1.000000    1.000000
25%     13.380000    2.000000    2.000000
50%     17.810000    2.900000    2.000000
75%     24.175000    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [71]:
print(hm.shape)
print(hm['sex'])
print(hm.isnull().sum())

(244, 7)
0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object
total_bill    1
tip           4
sex           2
smoker        0
day           1
time          1
size          2
dtype: int64

In [72]:
# undo = hm.dropna()
# print(undo)
# undo = hm.fillna(00)
# print(undo)

In [73]:
#hm.dropna(inplace = True)
hm.fillna(100,inplace = True)

In [74]:
hm

     total_bill     tip     sex smoker   day    time  size
0         16.99  100.00  Female     No   Sun  Dinner   2.0
1        100.00    1.66    Male     No   Sun  Dinner   3.0
2         21.01  100.00    Male     No   Sun  Dinner   3.0
3         23.68    3.31    Male     No   Sun  Dinner   2.0
4         24.59  100.00  Female     No   Sun  Dinner   4.0
..          ...     ...     ...    ...   ...     ...   ...
239       29.03    5.92    Male     No   Sat  Dinner   3.0
240       27.18    2.00  Female    Yes   Sat  Dinner   2.0
241       22.67    2.00    Male    Yes   Sat  Dinner   2.0
242       17.82    1.75    Male     No   Sat  Dinner   2.0
243       18.78    3.00  Female     No  Thur  Dinner   2.0

[244 rows x 7 columns]

In [75]:
print(hm.loc[6,'sex'])
print(hm.iloc[2,4])

Male
Sun

In [76]:
print(type(hm['smoker']))
print(type(hm))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [77]:
print(hm['size'] < 4)
print(hm[['tip','sex']][hm['size'] > 5])

0       True
1       True
2       True
3       True
4      False
       ...
239     True
240     True
241     True
242     True
243     True
Name: size, Length: 244, dtype: bool
      tip     sex
8    1.96    Male
14   3.02  Female
125  4.20  Female
141  6.70    Male
143  5.00  Female
156  5.00    Male

In [78]:
print(hm.groupby('time').count())
print(hm['tip'].max())
print(hm['tip'].min())
print(hm['tip'].mean())
print(hm['tip'].sum())

        total_bill  tip  sex  smoker  day  size
time
100              1    1    1       1    1     1
Dinner         175  175  175     175  175   175
Lunch           68   68   68      68   68    68
100.0
1.0
4.597909836065574
1121.8899999999999