In [1]:
import pandas

In [2]:
import pandas as pd

In [6]:
data = pd.read_csv("tips.csv")

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 1 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   total_bill	tip	sex	smoker	day	time	size  244 non-null    object
dtypes: object(1)
memory usage: 2.0+ KB

In [8]:
data.head()

  total_bill\ttip\tsex\tsmoker\tday\ttime\tsize
0       16.99\t1.01\tFemale\tNo\tSun\tDinner\t2
1         10.34\t1.66\tMale\tNo\tSun\tDinner\t3
2          21.01\t3.5\tMale\tNo\tSun\tDinner\t3
3         23.68\t3.31\tMale\tNo\tSun\tDinner\t2
4       24.59\t3.61\tFemale\tNo\tSun\tDinner\t4

In [9]:
data.tail()

    total_bill\ttip\tsex\tsmoker\tday\ttime\tsize
239         29.03\t5.92\tMale\tNo\tSat\tDinner\t3
240         27.18\t2\tFemale\tYes\tSat\tDinner\t2
241           22.67\t2\tMale\tYes\tSat\tDinner\t2
242         17.82\t1.75\tMale\tNo\tSat\tDinner\t2
243         18.78\t3\tFemale\tNo\tThur\tDinner\t2

In [10]:
data.describe()

       total_bill\ttip\tsex\tsmoker\tday\ttime\tsize
count                                            244
unique                                           243
top               13\t2\tFemale\tYes\tThur\tLunch\t2
freq                                               2